/* Colors */
$background-page: #590000;
$background-card: #260000;
$background-button: #bf0303;
$text-card-color: #ffc4b8;
$text-button-color: #ffc4b8;
$icon-color: #ffc4b8;
$background-button-hover: $text-button-color;
$text-button-color-hover: $background-button;

/* Sizes */
$button-radio: 10px;
$card-radio: 25px;
$width-card: 300px;
$height-card: 328px;
$padding-card: 19px 0;
$margin-card: 10px;
$width-button: 130px;
$height-button: 50px;
$icon-size: 130px;

/* Fonts */
$font-family: 'Roboto', sans-serif;
$font-card-size: 50px;
$font-card-line-height: 50px;
$font-button-size: 25px;
$font-button-line-height: 50px;

html,
body {
  font-family: $font-family;
  background-color: $background-page;
  margin: 0;
  padding: 0;
}

h1 {
  color: $text-card-color;
  font-size: $font-card-size;
}
